$corDeFundo: #13131F;
$corDoTexto: #c5a493;
$corDoTextoSecundario: #ffffff;
$corDiferenciada: #ecf0f1;
$corCabecalho: #2c3e50;
$corDeFundoBotaoPrimario: #6045a1;
$corDeFundoBotaoTransparente: #13131f;
$corTerceira: #828282;
$corVerde: #157d59;